.cardVideo{
   display: flex;
}
.videoL{
    background-color: black;
    width: 160px;
    height: 94px;
    margin: 4px 4px 4px 4px;
}
.videoL img{
    width: 160px;
    height: 94px;
}
.infoL{
    color: white;
    font-size: 0.8rem;
    line-height: 1rem;
    max-height: 3rem;
    width: 200px;
    padding-left: 0%;
    margin-left: 10px;
}
.nbr-view-vertical{
    color: white;
    font-size: 0.6rem;
    margin-left: 10px;
}
.name-chaine-vertcal{
    font-size: 0.7rem;
    color:white;
    margin-bottom: 4px;
    margin-left: 10px;
}