.navbarr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    height: 56px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/**************************************/
#logo{
   width: 40px;
   height: 40px;
   align-items: center;
}
.Logo-menu{
    display: flex;
    align-items: center;
}
.Logo-menu div{
    margin-right: 10px;
    margin-left: 15px;
}

/**************************************/
input[type=search]{
    border: none;
    color:silver;
    background-color: black;
    text-align: start;
    outline:none;
}

input[type=search]:focus{
    border:none;
    color:silver;
    background-color: black;
    text-align: start;
    border: 1px solid #065fd4;
}


.search{
    display: flex;
    align-items: center;
}
.site-search{
    height: 30px;
    width: 650px;
}


.button-search{
    border: none;
    margin-left:1px;
    width:60px;
    height: 30px;
    background-color:rgb(78, 78, 78);
    

}
.button-search-resp{
    border: none;
    margin-left:1px;
    width:60px;
    height: 30px;
    background-color: #333;
    display:none;
}
.search-box{
    display: none;
}

@media only screen and (max-width: 1000px) {
    .site-search{
        height: 30px;
        width: 400px;
    }
    
    #logo{
        width: 25px;
        height: 25px;
        align-items: center;
     }
  }
@media only screen and (max-width: 700px) {
    .search{
        display:none;
    }
    
    .button-search {
        background-color: #333;
    }

    .search-box{
        display: block;
        width: fit-content;
        height: fit-content;
        position: relative;
    }
    .input-search{
        width:58px;
        height: 30px;
        border-style: none;
        outline: none;
        transition: all .5s ease-in-out;
        background-color:#333;
        color:silver;
       
    }

    .input-search::placeholder{
        color:silver;
    }

    .btn-search{
        width: 62px;
        height: 32px;
        border-style: none;
        font-size: 20px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        position: absolute;
        right: 0px;
        color:silver;
        background-color:#333;
        pointer-events: painted; 
    }

    .btn-search:focus ~ .input-search{
        width: 250px;
        background-color:black;
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }

    .input-search:focus{
        width: 250px;
        border-radius: 0px;
        background-color:black;
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
      }
  }


/**************************************/
.b-nav{
    display: flex;
    align-items: center;
    margin-right: 16px;
}
.b-nav .icon{
    margin-right: 20px;
}
/**************************************/

/**************************************/
.bubble{
    position: relative;
    background-color:rgb(226, 43, 211);
    color:white;
    height: 32px;
    width: 32px;
    border-radius:50%;
   
    display: flex;
    justify-content: center;
    align-items: center;
  }
