.navbarr{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    height: 56px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/**************************************/
#logo{
   width: 40px;
   height: 40px;
   align-items: center;
}
.Logo-menu{
    display: flex;
    align-items: center;
}
.Logo-menu div{
    margin-right: 10px;
    margin-left: 15px;
}

/**************************************/
input[type=search]{
    border: none;
    color:silver;
    background-color: black;
    text-align: start;
    outline:none;
}
input[type=search]:focus{
    border:none;
    color:silver;
    background-color: black;
    text-align: start;
    border: 1px solid #065fd4;
}

.search{
    display: flex;
    align-items: center;
}
#site-search{
    height: 30px;
    width: 650px;
}


.button-search{
    border: none;
    margin-left:1px;
    width:60px;
    height: 30px;
    background-color:rgb(78, 78, 78);
    

}
.button-search-resp{
    border: none;
    margin-left:1px;
    width:60px;
    height: 30px;
    background-color: #333;
    display:none;
}

@media only screen and (max-width: 1000px) {
    #site-search{
        height: 30px;
        width: 400px;
    }
    #logo{
        width: 25px;
        height: 25px;
        align-items: center;
     }
  }
@media only screen and (max-width: 700px) {
    #site-search{
        height: 30px;
        width: 50%;
        transition: width 0.4s ease-in-out;
    }
    #site-search:focus{
        width: 250px;
    }

    .button-search {
        background-color: #333;
    }

    .visibiliteON{
        display:none;
    }
    .visibiliteOff{
        display:block;
    }

  }



/**************************************/
.b-nav{
    display: flex;
    align-items: center;
    margin-right: 16px;
}
.b-nav div{
    margin-right: 20px;
}
/**************************************/
.icon{
    
}
/**************************************/
.bubble{
    position: relative;
    background-color:rgb(226, 43, 211);
    color:white;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
  }

.bubble span{
    vertical-align: middle;
}
