.videoPl{
    display: flex;
    
}

.page-left{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.page-right{
    display: flex; 
    margin-top: 86px;
    margin-right: 5%;
    width:55%;
    height: 100%;
    flex-direction: column;
}
.playerA{
    background-color:black;
    margin-top: 86px;
    margin-left: 10%;
    width: 86%;
    height: 100%;
}
.infoV{
    margin-left: 10%;
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title{
    color: white;
}
.viewDate{
    color: silver;
    display: flex;
    font-size: 0.8em;
    border-bottom: 1px solid silver;
}
.viewDate div{
    margin: 5px;
    margin-bottom: 10px;
}

.infoDescription{
    margin-top: 3px;
    display: flex;
    align-items: center;
    color: white;
}

@media only screen and (max-width: 800px) {
    .videoPl{
         display: flex;
         flex-direction: column;
         align-self:center;
 
    }
    .page-right{
         margin-left: 7%;
    }
    .playerA{
        margin-left: 7%;
  
    }
   }